.section-wrapper {
  background: url("/images/pottery.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 68px);
  padding-top: 68px;
}

.intro-wrapper {
  margin: 7rem;
  background: url("/images/product-images/img-6.jpg") no-repeat center;
  background-size: cover;
  height: 500px;

  .img-text {
    top: 50%;
    transform: translateY(-50%);
  }
}
