---
import Layout from "../layouts/Layout.astro";
import '../styles/pages/products.scss';
---

<Layout title="Home">
    <div class="section-wrapper">
        <div class="absolute img-text">
            <div class="w-fit font-semibold text-1 mb-2">SHOP</div>
            <div class="w-fit font-bold text-2">SHOP FOR CERAMIC EQUIPMENT WITH A SATISFIED ONLY IN CERAMIZA</div>
        </div>
    </div>
</Layout>
